.side-navbar{
    background-color: rgb(5, 3, 50);
    color: #fff;
    min-width: 12vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.side-nav-store-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    margin-bottom: 24px;  
}


.home-icon-cat-store-container{
    display: flex;

}

.up-down-arrow-button-container{
    display: flex;
    flex-direction: column;
}

.up-down-arrow-buttons{
    background-color: transparent;
    color:#fff;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
    margin: 0 ;
    font-weight: bolder;
}


.catalogix-header{
    margin: 0px;
    font-weight: 100 ;
    color: rgb(128, 128, 128);
}

.store-header{
    margin: 0px;
    font-weight: 900;
}



.side-nav-home-container{
    font-size: 1.4rem;
    color:black;
    background-color: rgb(227, 139, 72);
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    height: 20px;
}

.collapse-container{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right:22px;
    padding-top: 22px;

}

.collapse-icon-container{
    margin-right: 30px;
    background-color: rgba(247, 254, 255, 0.128);
    border-radius: 5px;
    padding:12px;

}

/* .collapse-container:hover{ */
    /* background-color: rgba(234, 253, 255, 0.196);
    opacity:20;
    color: #fff;
    border-right: 4px solid rgb(94, 94, 218);
    border-top:0.1px  rgb(94, 94, 218);
    border-bottom:0.1px  rgb(94, 94, 218);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; */
    /* height: 20px; */
/* } */