.nav-items-container{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 32px;
    cursor: pointer;
    height: 44px;
    border-radius: 4px 4px 4px 4px;
}

.items-icon-container{
    margin: 0px 24px 0px 0px;
    font-size: 1.4rem;
    padding:10px;
    display: flex;
    justify-content: center;
    background-color: rgba(247, 254, 255, 0.128);
    border-radius: 5px;


}


.nav-items-container:hover > .items-icon-container{
    background-color: rgb(96, 96, 233);
}

.nav-items-container:hover{
    background-color: rgba(234, 253, 255, 0.196);
    opacity:20;
    color: #fff;
    border-right: 4px solid rgb(94, 94, 218);
    border-top:0.1px  rgb(94, 94, 218);
    border-bottom:0.1px  rgb(94, 94, 218);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}