
.app{
  display: flex;
  font-family: 'Manrope';
  font-style: normal;
  background-color: rgb(5, 3, 50);

}
.billing-section-container{
  border-top-left-radius:15px;
  border-bottom-left-radius:15px ;
  padding: 24px;
  color: #0000;
  width:87.25vw;
  background-color: #fff;
}
.payment-section-container{
  display: flex;
  width: 85vw;
  flex-wrap: wrap;
}
.payment-section-top-container{
  display: flex;
  width: 100vw;
}
.credit-used-available-card{
  background: #FCFCFF;
  border: 1px solid #F0F1FF;
  box-shadow: 0px 16px 24px -16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 1% 1% 1% 2%;
  width: 15vw;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.small-gray-text{
  font-weight: 400;
  font-size: 0.8rem;
  color: #9D9D9D;
}

.large-gray-text{
  font-weight: 500;
  font-size: 1rem;
  color: #9D9D9D;
}
.available-credit-count{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  background: linear-gradient(92.01deg, #57E1FF 0%, #44BCFF 16.23%, #37B8FF 79.6%, #3BDCFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.used-credit-count{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000;
}
.history-container{
    display: flex;
    align-items: center;
    margin-top: 10% ;
}
.history-text{
  color: #0000;
  padding-right: 10%;
} 
.saved-card{
  color:#0000;
  display:flex;
  justify-content: space-between;
  width: 50vw;
  min-width: fit-content;
  background: #FCFCFF;
  border: 1px solid #F0F1FF;
  border-radius: 16px;
  align-items: center;
}
.card-detailes-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 0px 0px 0px 24px;
}
.payment-method-button{
  background: #FFFFFF;
  border: 1px solid #F3F3F4;
  border-radius: 16px;
  padding: 0%;
  width: 64%;
  height: 48px;
  margin: 0px 40px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
.payment-section-bottom-container{
  display: flex;
  width: 100vw;
  margin-top: 24px;
  height: 17vh;
}
.buy-card{
  background: #FCFCFF;
  border: 1px solid #F0F1FF;
  box-shadow: 0px 16px 24px -16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 24px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.buy-card-top-cantainer{
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 2% 2%;
}
.buy-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  font-size: 1rem;
  background: #454354;
  border-radius: 16px;
  color:#ffff;
  cursor: pointer;
  border: none;
  width: 100%;
}
.buy-card:hover .buy-button{
  background: linear-gradient(92.01deg, #57E1FF 0%, #44BCFF 16.23%, #37B8FF 79.6%, #3BDCFF 100%);
  box-shadow: 0px 20px 16px -16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}
.recurring-raido-input-container{
    color:#000;
    display: none;
}
.buy-card:hover{
  height: 218px;
  padding: 24px;
}

.buy-card:hover .recurring-raido-input-container{
  display: flex;
  gap:1rem;
  align-self: flex-start;
  margin-left: 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  label{
    cursor: pointer;
  }
}

.creator-section{
  color:#000;
  margin-top: 10vh;
  display: flex;
  flex-direction: column; 
}
.bg-contact-estimate-container{
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.contact-estimate-container{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
}
.contact-estimate-container svg{
  margin-left: 20px;
}
.creator-profile-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center ;
  align-items: center;
  margin-top: 10vh;
}
.best-ever-used-footer-container{
  margin-top: 44px;
  font-size: 2rem;
}
.stars-container{
  margin-top: 10px;
}
.stars-container svg{
  margin-left: 10px;
}
.testimonial-text{
  font-size: 1.2rem;
  padding: 4% 10% 2% 10%;
  text-align: center;
  align-self: center;
  color: #454354;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
}

.modal-container{
  position: absolute;
  right: 0;
  top:0;
  background-color: rgb(255, 255, 255);
  border-radius: 24px 0px 0px 24px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  animation: modalMoveIn 0.5s;
  overflow-y: scroll;
  label{
    font-size: 1rem;
    font-weight: 400;
  }
}

.estimate-modal{
  width:31.66vw;
  height: 95.4vh;
  padding: 24px;
}

.history-modal{
  height: 95.4vh;
  width: 44.16vw;
  padding: 24px;
}

.payment-method-modal{
  height: 95.8vh;
  width: 25vw;
  align-items: center;
  padding: 44px 64px 0px 112px;
}

.add-card-modal{
  height: 95.8vh;
  width: 25vw;
  align-items: center;
  padding: 44px 64px 0px 112px;

}

.billing-info-modal{
  height: 95.8vh;
  width: 25vw;
  align-items: center;
  padding: 20px 64px 24px 112px;
}

.custom-pack-modal{
  height: 94.7vh;
  width: 25vw;
  align-items: center;
  padding: 56px 96px 0px 77px;
}


.thank-you-modal-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 100vh;
  padding: 0px 64px;
}


.modal-container::-webkit-scrollbar {
  display: none;
}


@keyframes modalMoveIn{
  from {right: -30%}
  to {right: 0%}
}


.products-count-container{
  color:#000;
  display:flex;
  justify-content: space-between;
  background: #FCFCFF;
  border: 1px solid #ebecff;
  border-radius: 16px;
  align-items: center;
  padding: 2.8% 2%;
}
.estimate-navbar{
  background-color: #6672FB;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2rem;
  padding: 24px 32px;
  border-radius: 16px;
  align-items: center;
}
.estimate-navbar-sub-container{
  display: flex;
  gap:2rem; 
}
.checkbox-svg-container{
  position: relative;
  .tick-untick{
    position: absolute;
    top:-5px;
    left: 5px;
  }
}



.estimate-list-container{
  background: #FCFCFF;
  border: 1px solid #F0F1FF;
  box-shadow: 0px 16px 24px -16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 1.4rem;
  height: 54vh;
  width: 100%;
  overflow-y: scroll;
}

.estimate-list-container::-webkit-scrollbar {
  display: none;
}
.estimate-list{
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
}
.estimate-list-sub-container{
  display: flex;
  width: 46%;
  gap:75px;
}
.estimate-modal-summary{
  background: linear-gradient(92.01deg, #57E1FF 0%, #44BCFF 16.23%, #37B8FF 79.6%, #3BDCFF 100%);
  border-radius: 16px;
  border: 1px solid #F0F1FF;
  box-shadow: 0px 16px 24px -16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 1.4rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4% 4% 4% 4%;
  align-items: center;
  border-bottom: 1px solid rgba(102, 114, 251, 0.16);
}



.history-modal-header{
  display: flex;
  align-items: center;
  font-weight: 500;
}

.hr-line{
  border: 1px solid #F3F3F4;
  height: 0px;
  width: 95%;
  padding: 0px 16px;
}
.export-button{
  background: #FFFFFF;
  border: 1px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
}
.history-navbar{
  background-color: #6672FB;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  margin-top: 32px;
  padding: 10px 16px 12px 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  .history-nav-sub1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
  }
  .history-nav-sub2-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
  }
}

.history-list-container{
  display: flex;
  padding:12px 0px;
  font-size: 1rem;
  font-weight: 400;
  color: #0B081E;
  justify-content: space-between;
  align-items: flex-start;
  .history-list-sub1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  .history-list-sub2-container{
    display: flex;
    align-items: center;
    gap:148px;
    width: 35%;
  }
}


.history-modal-list-container{
  background: #FCFCFF;
  border: 1px solid #F0F1FF;
  box-shadow: 0px 16px 24px -16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 1.4rem;
  padding: 24px 16px 0px;
  height: 80vh;
  overflow: hidden;
  position: relative;
  .download-container{
    position: absolute;
    top:20%;
    right: -24px;
    cursor: pointer;
  }
}

.history-modal-list-container::-webkit-scrollbar {
  display: none;
}




.modal-arrow-heading{
  display: flex;
  gap: 32px;
  align-items: center;
  margin-left: -28px;
  color:#0B081E;
  font-weight: 600;
  cursor: pointer;
  font-size: 24px;
  svg{
    height: 14px;
    width: 14px;
  }
}

.payment-modal-saved-card{
  background: #fdfbffc6;
  border: 1px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 32px 32px;
  display: flex;
  justify-content: space-around;
}
.payment-modal-default{
  background-color: #FFFFFF;
  border: 1px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
}

.add-payment-method{
  text-align: center;
  padding: 12px 32px;
  font-size: 1rem;
  background: #6672FB;
  border-radius: 16px;
  color:#ffff;
  cursor: pointer;
  border: none;
  margin:32px 0px ;
}

.billing-information{
  background-color: #FFFFFF;
  border: 1px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 12px 32px;
  margin-top: 32px;
  height: 24vh;
}

.billing-information hr{
  margin: 24px 0px;
}
.update-information-container{
  display: flex;
  margin-top: 32px;
  font-size: 1rem;
  gap:16px;
  cursor: pointer;
}

.add-card-form-container{
  padding-top: 32px;
}

.card-number-input-container{
  display: flex;
  flex-direction: column;
  gap:12px;
}
.card-number-input{
  background-color: #FFFFFF;
  border: 2px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 18px 32px;
  outline: none;
  font-size: 1rem;
}
.add-card-expiry-cvv-container{
  display: flex;
  margin-top: 32px;
}

.card-expiry-cvv-input{
  background-color: #FFFFFF;
  border: 2px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 16px 18px;
  width: 76%;
  outline: none;
  font-size: 1rem;
}

.expiry-cvv-input-container{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.add-card-form-container label{
  margin-left: 16px;
}
.modal-drop-down{
  background-color: #FFFFFF;
  border: 2px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 16px 18px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
.drop-down-container{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap:10px;
  label{
    padding-left: 12px;
  }
}
.default-payment-input-contianer{
  margin-top: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap:12px;
}
.add-card-button{
  text-align: center;
  padding: 12px 32px;
  font-size: 1rem;
  background: #6672FB;
  border-radius: 16px;
  color:#ffff;
  cursor: pointer;
  border: none;
  margin:32px 0px ;
  margin-bottom: 32px;
  width: 100%;
}
.address-textarea-container{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  
  label{
    padding-left: 12px;
  }
}
.address-textarea{
  background-color: #FFFFFF;
  border: 2px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 16px 18px;
  font-size: 1rem;
  outline: none;
  resize: none;
  outline: none;
  height: 100px;
}
.regular-input-container{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap:10px;
  label{
    padding-left: 12px;
  }
}

.regular-modal-input{
  background-color: #FFFFFF;
  border: 2px solid rgba(11, 8, 30, 0.08);
  border-radius: 16px;
  padding: 18px 32px;
  outline: none;
  font-size: 1rem;
}

